* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-button {
  background-color: white;
  color: black;
  box-shadow: 5px 5px;
  padding: 0.5rem;
}

.form-container {
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 15px;
}

.input-class {
  width: 100%;
  padding-left: 0.3rem;
}

.big-container {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
}

.center {
  text-align: center;
}

.cardView {
  width: 47%;
  text-align: center;
  background: white;
  display: inline-block;
  margin: 1%;
}

.cardView > img,
.cardView > p {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .cardView {
    width: 100%;
    display: block;
  }
}

.input-class {
  border-radius: 1rem;
  outline: none;
  border: none;
  width: 90%;
}

.icon-class {
  margin-left: 5px;
  width: 0.8rem !important;
  height: 0.8rem !important;
}

.cardDetail {
  width: 100%;
  text-align: center;
  background: white;
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 10%;
}

.cardDetail > img,
.cardDetail > p {
  width: 100%;
  text-align: left;
}

.cardDetail > p.title {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.cardDetailOuter > button {
  background: white;
  border: none;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .cardDetail {
    width: 100%;
    display: block;
  }
}
